.inputClass {
  margin-left: 20px;
  background-color: pink;
  border-radius: 5px;
  font-size: 25px;
}

.todoTitle {
  margin-left: 20px;
  color: brown;
}

.addButton {
  margin-left: 10px;
  background-color: green;
  font-size: 20px;
  border-radius: 5px;
  color: white;
}

.deleteButton {
  margin-left: 10px;
  background-color:royalblue;
  color: aliceblue;
  border-radius: 5px;
}

/* .liClass {
  color: red;
} */

.deleteAllButton {
  margin-left: 10px;
  background-color: red;
  font-size: 20px;
  border-radius: 5px;
  color: white;
}

.doneClass {
  margin-left: 10px;
  background-color:forestgreen;
  border-radius: 5px;
  color: white;
}